* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Prata;
    src: url(../fonts/Prata/Prata-Regular.ttf);
}
@font-face {
    font-family: Lato-LightItalic;
    src: url(../fonts/Lato/Lato-LightItalic.ttf);
}

#background-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
}

header {
    position:static;
    display: flex;
    align-items: center;
    margin-top: 110pt;
    margin-left: 30pt;
}

#header-text{
    width: 25%;
    font-family:  Lato-LightItalic;
    font-size: 18pt;
    color: white;
}

a{
    font-family: Prata;
    text-decoration: none;
    color: black;
}

#logo{
    font-family: Prata;
}
svg {
    width: 75%;
    position: fixed;
    right: 10px;
    padding: 10px;
    margin: 0;
}
svg path{
    fill: #de554e;
    stroke: #FFFDF3;
    stroke-width: .25
}
svg path:hover{
fill: #de8581;
transition: 0.6s;
cursor: pointer;
}

button{
    border:none;
    font-family: Prata;
    position:relative;
    height:30px;
    font-size:12pt;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}

button:hover{
    background:#fff;
    color:orange;
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background:orange;
    transition:400ms ease all;
}

button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}
